html, body {
    background: white;
    color: #373535;
    margin: 0;
    padding: 0;
    font-family: "나눔고딕", "NanumGothic", "Nanum Gothic", sans-serif;
    font-size: 14px;
    background: #006e93;
}

a {
    color: #006e93;
}

a:visited {
    color: #737476;
}

#content {
    max-width: 720px;
    margin: 20px auto 0px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 20px black;
}

#content > .title {
    text-align: center;
    font-size: 45px;
    margin-top: 0;
}

#content > .sub-title {
    font-size: 20px;
}

#content p {
    font-size: 15px;
    line-height: 19px;
}

#content > #logo-img {
    text-align: center;
}

#content > #footer {
    text-align: center;
    color: #96989b;
}
